<header class="hero-section d-flex">
    <div class="left-hero">
        <h1 class="text-white left-font">A B2B DIGITAL MARKETPLACE WHERE FAIR FOOD TRADE IS MADE EASY, FAST, AND TRANSPARENT!</h1>
        <p class="text-white left-middle-font">
            <span class="typewriter">{{ currentText }}</span>
        </p>
        <button routerLink="/login" class="left-button rounded text-uppercase fw-bold" style="font-family: 'Roboto Slab', serif; color: #82ac4c;">Join Now</button>
    </div>
    <div class="right-hero fw-bold text-center text-uppercase pt-5">
        <p class="text-white text-uppercase right-topFont">Select a product to buy/sell</p>
        <div class="m-2 row justify-content-center text-white">
          <div class="col-md-4 col-sm-6 mb-4">
            <img src="/img/header/grains.png" class="bg-white rounded-circle p-1 shadow-lg right-image" alt="Grains">
            <p class="text-center right-imageText">Grains</p>
          </div>
          <div class="col-md-4 col-sm-6 mb-4">
            <img src="/img/header/nuts.png" class="bg-white rounded-circle p-1 shadow-lg right-image" alt="Nuts">
            <p class="text-center right-imageText">Nuts</p>
          </div>
          <div class="col-md-4 col-sm-6 mb-4">
            <img src="/img/header/green-coffee.png" class="bg-white rounded-circle p-1 shadow-lg right-image" alt="Green Coffee">
            <p class="text-center right-imageText">Green Coffee</p>
          </div>
          <div class="col-md-4 col-sm-6 mb-4">
            <img src="/img/header/oil.png" class="bg-white rounded-circle p-1 shadow-lg right-image" alt="Olive Oil">
            <p class="text-center right-imageText">Olive Oil & Other Oil</p>
          </div>
        </div>
        <div>
            <p class="text-uppercase text-white right-imageText">Can't find the product you are looking for?</p>
            <button class="py-2 rounded right-button text-uppercase fw-bold" style="font-family: 'Roboto Slab', serif; color: #82ac4c;">Contact Us</button>
        </div>
    </div>
</header>

<div>
  <img src="/img/home/our-value.png" style="width: 98.9vw;" />
  <img src="/img/home/our-value2.png" style="width: 98.9vw;" />

  <img src="/img/home/our-services.png" style="width: 98.9vw;" />
  <img src="/img/home/our-services2.png" style="width: 98.9vw;" />

  <img src="/img/home/feature.png" style="width: 98.9vw;" />
  <img src="/img/home/feature2.png" style="width: 98.9vw;" />

</div>