<form [formGroup]="addFarmerDetails" (ngSubmit)="onSavingCropDetails()" style="background: radial-gradient(circle at center,rgba(39, 75, 21, 0.95) 0%, rgba(99, 121, 55, 0.85) 50%, rgba(108, 189, 53, 0.8) 100%);"  >
  <div class="d-flex align-items-center justify-content-around">
    <h1 class="my-4 text-white" style="font-family: 'Roboto Slab', serif;">Add New Crop to Sell</h1>
    <div>
      <button class="me-4" style="border: none; padding: 6px 18px; border-radius: 12px;">Cancel</button>
      <button type="submit" style="border: none; padding: 6px 18px; border-radius: 12px;">Add Crop</button>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <div style="width: 20%;">
      <div class="card shadow-sm p-4" style="border-radius: 25px;">
        <h5>Thumbnail</h5>
        <!-- Image Upload Section -->
        <div class="d-flex justify-content-center align-items-center border mt-3" style="border-radius: 25px; height: 150px; position: relative;">
          <!-- Image Preview -->
          <img id="imagePreview" class="img-fluid" style="border-radius: 25px; display: none;" alt="Preview" />
          <!-- Upload Button -->
          <!-- *ngIf="!imageUrl"  -->
          <label for="uploadImage" class="d-flex flex-column align-items-center justify-content-center" style="position: absolute; cursor: pointer; text-align: center;">
            <i class="bx bx-upload add-icon" style="font-size: 40px; color: #777;"></i>
            <span class="text-muted">Click to upload</span>
          </label>
          <!-- File Input -->
          <input type="file" id="uploadImage" accept="image/*" (change)="onImageSelected($event)" style="border-radius: 25px; display: none;" />
          
          <!-- Display the preview of the selected image -->
          <div *ngIf="previewImageUrl">
            <img [src]="previewImageUrl" alt="Image Preview" style="border-radius: 25px; width: 100%; height: 150px;" />
          </div>

        </div>
        <small class="text-muted mt-3">
          Set the product thumbnail image. Only *.png, *.jpg, and *.jpeg image files are accepted.
        </small>
      </div>

      <div class="card shadow-sm p-4 mt-3" style="border-radius: 25px;">
        <!-- Type -->
        <h5 class="mb-0">Crop Type</h5>
        <hr class="text-muted" />
        <!-- Type Dropdown -->
        <label for="status-select" class="form-label">Choose Crop Type</label>
        <select id="status-select" class="form-select" formControlName="cropType">
          <option value="" selected>Select Crop Type</option>
          <option value="wheat">Wheat</option>
          <option value="rice">Rice</option>
        </select>
      </div>
    </div>

    <div style="width: 53%;">
      <div class="card shadow-sm p-4 ms-4" style="border-radius: 25px;">
        <h5 class="mb-1">General</h5>
        <hr class="text-muted" />
        <!-- Crop Name -->
        <div class="mb-3">
          <label for="productName" class="form-label">Crop Name</label>
          <input type="text" class="form-control" placeholder="Enter crop name" formControlName="cropName" />
        </div>
        <!-- Description -->
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea class="form-control" rows="4" placeholder="Write a description..." formControlName="description" ></textarea>
          <small class="text-muted">Set a description to the product for better visibility.</small>
        </div>
      </div>

      <div class="card shadow-sm p-4 ms-4 mb-5 mt-3" style="border-radius: 25px;">
        <!-- Pricing -->
        <h5 class="mb-0">Pricing</h5>
        <hr class="text-muted" />
        <!-- Quantity -->
        <div class="mb-3">
          <label for="cropQuantity" class="form-label">Crop Quantity</label>
          <input type="text" id="cropQuantity" class="form-control" placeholder="Enter crop quantity" formControlName="cropQuantity" />
        </div>
        <!-- PricePerKg -->
        <div class="mb-3">
          <label for="cropPricePerKg" class="form-label">Crop Price Per Kg</label>
          <input type="text" id="cropPricePerKg" class="form-control" placeholder="Enter crop price per kg" formControlName="cropPricePerKg" />
        </div>
      </div>
    </div>
  </div>
</form>
