<img src="/img/home/about.png" style="width: 98.9vw;" />

<div class="d-flex justify-content-center align-items-center py-4 bg-light">
    <div class="text-center" style="font-size: 21px; width: 50%; font-family: 'Roboto Slab', serif; ">
        Crop Deal's vision is to become the largest agricultural fair-trade platform, 
        connecting farmers to industrial all around the world.
    </div>
</div>

<img src="/img/home/about2.png" style="width: 98.9vw;" />
<div class="d-flex justify-content-center align-items-center py-4 bg-light">
    <div class="text-center" style="font-size: 21px; width: 50%; font-family: 'Roboto Slab', serif;">
        Crop Deal's mission is to become the global reference for DIGITAL 
        agricultural food crop transactions through a complete PLATFORM solution.
    </div>
</div>